
*.log
.vs/slnx.sqlite
.vs/langproc-2020-cw-Drim/v16/ipch/AutoPCH/6fd5c7100978c863/COMPILER.ipch
.vs/langproc-2020-cw-Drim/v16/Browse.VC.opendb
.vs/langproc-2020-cw-Drim/v16/Browse.VC.db-wal
.vs/langproc-2020-cw-Drim/v16/Browse.VC.db-shm
.vs/langproc-2020-cw-Drim/v16/Browse.VC.db
ubuntu-xenial-16.04-cloudimg-console.log
ubuntu-xenial-16.04-cloudimg-console.log
.vs/langproc-2020-cw-Drim/v16/ipch/AutoPCH/7043807465218f70/TEST.ipch
ubuntu-xenial-16.04-cloudimg-console.log
ubuntu-xenial-16.04-cloudimg-console.log
